@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  overflow-y: scroll;
}

.wrapper {
  font-family: "Open Sans", sans;
  text-align: center;
  color: #444;
}

#threesixty {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.threesixty-grid {
  font-size: 0;
  height: 100%;
  pointer-events: none;
  white-space: nowrap;
}

.m-loading {
  pointer-events: none;
  height: 0 !important;
  padding: 0 0 100%;
}

.m-loading::after {
  background: #ccc;
  content: 'LOADING...';
  font-size: 16px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.m-loading .threesixty-grid {
  visibility: hidden;
}

.threesixty-image {
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.g-hub {
  color: #444;
  font-size: 0.9em;
}

.buttons-wrapper {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.button {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 40px 7px 5px;
  cursor: pointer;
}
.button::before, .button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  border-left: 3px solid #000;
  border-top: 3px solid #000;
  width: 20px;
  height: 20px;
  transform: translate(-45%) rotate(-45deg);
}
.button::after {
  transform: translate(5%) rotate(-45deg);
}

#next::before {
  transform: translate(-90%) rotate(135deg);
}
#next::after {
  transform: translate(-50%) rotate(135deg);
}
